# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vite-dev.*.log
dev-*.log
vite-*.log
desktop-start.log

node_modules
dist
dist-ssr
release
release_v1_0_0
*.exe
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
